.footer
  heigth: 300px
  background-color: $blue
  text-align: center
  padding: 20px

  h4
    color: white
    margin-top: 0

  p
    color: white
    margin: 0

  a
    color: white

    &:hover
      color: $pink
