.section-method
  text-align: center
  position: relative

  span
    color: black
    font-weight: 700
    //text-transform: uppercase

  .section-title
    background: white
    color: $blue
    border: solid lightblue 10px
    display: inline-block
    border-radius: 5px
    line-height: 1
    margin-top: 120px
    margin-bottom: 0px
    box-shadow: $title-shadow
    position: relative
    padding: 20px 60px

    text-transform: uppercase
    letter-spacing: 0.1em

  .method-text
    position: absolute
    color: black
    max-width: 360px
    margin: 20px auto
    text-align: left
    padding: 30px 40px
    background: white
    //color: $blue
    font-size: 16px
    border-radius: 5px
    box-shadow: $card-shadow
    right: calc(50vw - 20px)
    transform: rotate(-2deg)
    top: 260px
    border: solid $blue 10px
    //z-index: 2

  .method-card
    position: absolute
    max-width: 360px
    margin: 0 auto
    text-align: left
    padding: 20px 50px
    background: white
    border-radius: 5px
    box-shadow: $card-shadow
    transform: rotate(3deg)
    left: calc(50vw - 20px)
    top: 260px

    h4
      font-family: 'Roboto Slab'
      margin-bottom: 0px
      //color: darkgrey

      &:last-of-type
        margin-bottom: 5px

    h5
      margin: 0
      color: $accent
      font-size: 14px
      font-weight: 700


  .sub-text
    position: absolute
    max-width: 300px
    margin: 20px auto
    text-align: left
    padding: 30px 40px
    background: white
    //color: $blue
    font-size: 16px
    border-radius: 5px
    box-shadow: $card-shadow
    right: calc(50vw - 0px)
    //transform: rotate(-2deg)
    top: 595px
    border: solid lightblue 10px
    color: black
    //z-index: 2
