<section id="pijlers" class="pijlers">

  <h3 class="section-title"> <span>vier</span> pijlers</h3>

  <div class="pijler-container">

    <div class="pijler pijler-1 pijler-left slide-in appear"><span class="pijler-tag">HSP</span></div>
    <div class="pijler pijler-2 pijler-right slide-in appear"><span class="pijler-tag">Faalangst</span></div>
    <div class="pijler pijler-3 pijler-left slide-in appear"><span class="pijler-tag">Weerbaarheid</span></div>
    <div class="pijler pijler-4 pijler-right slide-in appear"><span class="pijler-tag">Emoties</span></div>


  </div>

  <div class="pijler-card-container">
    <div class="pijler-card pijler-card-1">
      <p class="pijler-card-tag">HSP</p>
      <p class="pijler-card-text">{{ site.data.pillars.pillar-1-text }}</p>
    </div>
    <div class="pijler-card pijler-card-2">
      <p class="pijler-card-tag">Faalangst</p>
      <p class="pijler-card-text">{{ site.data.pillars.pillar-2-text }}</p>
    </div>
    <div class="pijler-card pijler-card-3">
      <p class="pijler-card-tag">Weerbaarheid</p>
      <p class="pijler-card-text">{{ site.data.pillars.pillar-3-text }}</p>
    </div>
      <div class="pijler-card pijler-card-4">
        <p class="pijler-card-tag">Emoties</p>
        <p class="pijler-card-text">{{ site.data.pillars.pillar-4-text }}</p>
    </div>
  </div>

</section>
